.tree {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
}

.root {
  padding-left: 0;
}

.root > li,
.root ol > li,
.root li > span {
  margin-bottom: 16px;
}

.root li > span {
  display: inline-block;
}

.root,
.root ol {
  counter-reset: section;
  list-style: none;
}

li > span::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}

.root .with-child > span::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}

.with-child.reversed,
.with-child.reversed > ol {
  display: flex;
  flex-direction: column-reverse;
}